{% extends "layout.html" %}

{% block estilos %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
 {% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/almacenados.css">
<br>
<br>
<center><h1 style="color: #d49e09;
    font-weight: normal;
    font-size: 40px;
    font-family: Arial;
    text-transform: uppercase;">Reservas Guardadas</h1></center>
    <br>
    <br>
<body>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <!-- aqui comienza -->
    <button type="button" class="btn btn-outline-danger me-md-2 " data-bs-toggle="modal" data-bs-target="#exampleModal">
        Ver Eliminados
      </button>
    </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl ">
          <div class="modal-content ">
            <div class="modal-header btn btn-dark">
              <h5 class="modal-title " id="exampleModalLabel">Restaurar la Reserva</h5>
              <button type="button" class="btn-close btn btn-warning " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body btn btn-warning">
                <center>
              <!-- aqui esta para madar a la base de datos -->
              <table style="width: 100% border 1px solid rgb(241, 238, 238)" class="table table-secondary">
                <thead class="table-dark">
                    <tr> 
                        <th class="blanco">Nombres</th>
                        <th class="blanco">Cantidad</th>
                        <th class="blanco">Nombre del Producto</th>
                        <th class="blanco">Cedula</th>
                        <th class="blanco">Correo</th>
                        <th class="blanco">Categoria del productos</th>
                        <th class="blanco">Fecha</th>
                        <th class="blanco">Total</th>
                        <th class="blanco">Restaurar</th>
                        <th class="blanco">Cerrar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pp in elim %}
                    <tr>
                        <td class="negro">{{pp[4]}}</td>
                        <td class="negro">{{pp[5]}}</td>
                        <td class="negro">{{pp[13]}}</td>
                        <td class="negro">{{pp[6]}}</td>
                        <td class="negro">{{pp[7]}}</td>
                        <td class="negro">{{pp[8]}}</td>
                        <td class="negro">{{pp[9]}}</td>
                        <td class="negro">${{pp[3]}}</td>
                        <td class="negro"> 
                            
                            <a class="btn btn-success" href="/restaurar/{{pp[0]}}">Restaurar </a> 

                            <td class="negro">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>


                            </td>
 
                            </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            </center>
    <!-- aqui termina para mandar a la base de datos -->
            </div>
          </div>
        </div>
      </div>


<br>

    <!-- aqui termina -->
    <table style="width: 100% border 1px solid #000" class="table table-secondary">
        <thead class="table-dark">
            <tr> 
                <th class="blanco">Nombres</th>
                <th class="blanco">Cantidad</th>
                <th class="blanco">Nombre del Producto</th>
                <th class="blanco">Cedula</th>
                <th class="blanco">Correo</th>
                <th class="blanco">Categoria del productos</th>
                <th class="blanco">Fecha</th>
                <th class="blanco">Total</th>
                <th class="blanco">Editar</th>
                <th class="blanco">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for formulario in formulario %}
            <tr>
                <td class="negro">{{formulario[4]}}</td>
                <td class="negro">{{formulario[5]}}</td>
                <td class="negro">{{formulario[13]}}</td>
                <td class="negro">{{formulario[6]}}</td>
                <td class="negro">{{formulario[7]}}</td>
                <td class="negro">{{formulario[8]}}</td>
                <td class="negro">{{formulario[9]}}</td>
                <td class="negro">${{formulario[3]}}</td>
                <td class="negro"> 
                    
                    <a class="btn btn-primary" href="/edit/{{formulario[0]}}">Editar </a> 
                    <td class="negro">
                    <!-- <a class="btn btn-danger"  href="/destroy/{{formulario[0]}}">Eliminar</a> -->



                    <!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Eliminar
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Eliminar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Estas Seguro de Eliminar tu Reserva
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a class="btn btn-danger"  href="/destroy/{{formulario[0]}}">Eliminar</a>
        </div>
      </div>
    </div>
  </div>
                  



                    </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
{% endblock %}
