<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
   <link rel="stylesheet" href="../static/css/edit.css">
  <!-- Modal -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  

  <body >
    
    <font>
  
    <div class="modal-dialog ">
      <div class="modal-content ">
        <div class="modal-header btn btn-dark">
          <h5 class="#" id="exampleModalLabel">INGRESE LOS DATOS PARA ACTUALIZAR RESERVAR</h5>
          <a type="button" class="btn-close" aria-label="Close" href="/cliente/almacenados"></a>
        </div>
        <div class=" btn btn-warning">
          
            <center>
          <!-- aqui esta para madar a la base de datos -->
                 
            {% for fora in formulario %}
            <FORM class="negro" method="POST" action="/update/{{fora[0]}}" enctype="multipart/form-data"> 
            <label for="">Nombres:</label><br> 
            <input class="input form-control" type="text" id="txtNombre" name="txtNombre" placeholder="ingrese sus nombres " required value="{{fora[4]}}"><br>
              <br>
              <label for="">Cantidad de producto requerido:</label><br> 
              <input class="input form-control" type="number" id="txtCantidad" name="txtCantidad" placeholder="ingrese su cedula" required MiN="1" value="{{fora[5]}}"><br> 
            <label for="">Cedula:</label><br> 
             <input class="input form-control" type="number" id="txtCedula" name="txtCedula" readonly=»readonly» placeholder="ingrese su cedula" required value="{{fora[6]}}"><br>
             <label for="">Correo:</label><br> 
            <input type="email" class="form-control" id="txtCorreo" name="txtCorreo"  value="{{fora[7]}}"  required placeholder="Ingrese su correo"><br>
             <label for="">Fecha para reservar su entrega:</label><br> 
             <input class="input form-control" type="date" id="txtFecha" name="txtFecha" placeholder="Ingrese fecha para reservar" required value="{{fora[9]}}"><br>
            
             <br>
            
             <div>
             <button type="submit" class="botons btn btn-success">Reservar</button>
                <a type="button" class="btn btn-secondary" aria-current="page" href="/cliente/almacenados">Cerrar</a>
          </div>
          {%endfor%} 
         </form>
        </center>
<!-- aqui termina para mandar a la base de datos -->


        </div>
      </div>
    </div>
  </div>
       <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> 
</body>